* {
    box-sizing: border-box;
    margin: 0;
}

@font-face{
  font-family: 'Verdemoderna'; 
  src: url("./font/verdemoderna.woff") format('woff');
}

/* latin-ext */
@font-face {
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    src: local('Julius Sans One'), local('JuliusSansOne-Regular'), url(http://fonts.gstatic.com/s/juliussansone/v6/1Pt2g8TAX_SGgBGUi0tGOYEga5WOzHsXy6KHHow-.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    src: local('Julius Sans One'), local('JuliusSansOne-Regular'), url(http://fonts.gstatic.com/s/juliussansone/v6/1Pt2g8TAX_SGgBGUi0tGOYEga5WOwnsXy6KHHg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(http://fonts.gstatic.com/s/librebaskerville/v5/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWx8QDO-WyrubOA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(http://fonts.gstatic.com/s/librebaskerville/v5/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWxEQDO-Wyrs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(http://fonts.gstatic.com/s/librebaskerville/v5/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNXaxMaC82U-ro.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(http://fonts.gstatic.com/s/librebaskerville/v5/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxMaC82U.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


header {
    background-image: url("http://www.csszengarden.com/214/contours.png"), url("http://www.csszengarden.com/214/noise.png"), url("http://www.csszengarden.com/214/gridlines.png"), url("http://www.csszengarden.com/214/huntington.jpg");
    padding: 0 0 0 0; 
    background-attachment: fixed, fixed, fixed, scroll;
    background-position: 0 0, 0 0, -5px -25px;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    text-align: center; 
    width: 100%;
    /* height: 250px;  */
    margin: 0 auto; 
    color: white; 
    border-top: solid #0B4849 10px; 
    opacity: .99;
    display: flex; 
    flex-direction: column;
}

img {
  width: 50px; 
  height: 50px; 
  display: none;
}

h1 {
  font-family: 'Julius Sans One', 'Sans Serif';
  margin-top: 35px; 
  font-size: 1.8em;
}

.headings {
  padding-top: 15px;
}

.headings::before{
  display: inline-block;
  position: relative;
  top: 20px;
  content: "";
  width: 50px;
  height: 50px;
  margin: -20px 20px 0 0;
  background: url("http://www.csszengarden.com/214/enso.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.6;
} 

h2 {
  font-family: 'Libre Baskerville', 'Sans Serif';
  font-style: italic; 
  display: block; 
  padding-top: 7px; 
  padding-bottom: 30px; 
  border-top: none; 
  color: rgba(255,255,255,0.6);
  font-size: 1.1em;
}

.view-all {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  /* padding: 15px;  */
  font-family: "Julius Sans One";
  color: white;
  background-color: rgba(194, 202, 182, 0.294);
  border-top: none; 
  font-style: normal; 
  height: 70px; 
}

.view-all a{
  color: white; 
}

.view-all a:hover{
  background-color: rgba(255,255,255,0.25);
}

.arrow {
  font-family: 'verdemoderna';
  -webkit-font-smoothing: antialiased;
  display: flex; 
  justify-content: center; 
  align-items: center;
  font-size: 50px; 
  height: 50px; 
  width: 50px; 
  margin: 0; 
}

.arrow:hover {
  background-color: white; 
  opacity: .7; 
}

.viewList {
  /* font-family: 'Libre Baskerville'; */
  font-style: normal;
  font-family: "Julius Sans One";
  margin: 0; 
  padding: 0; 
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  border-top: none;
}

/* .viewall {
  width: 100%;
  font-family: 'Julius Sans One', 'Sans Serif';
  font-size: 1em; 
  text-decoration-line: none;
  color: white; 
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center; 
  z-index: 10;
} */

.hidden {
  display: none; 
}
.linkref {
  transition: all 0.25s ease-out;
  display: flex; 
  flex-direction: row; 
  justify-content: center;
  font-style: normal;   
  z-index: 1000; 
  /* color: white; */
 
}

.viewall:hover {
  transition: all 0.25s ease-out; 
  color: white;
  background-color: white;  
}

.next {
  font-family: "verdemoderna"; 
  font-size: 40px;
  -webkit-font-smoothing: antialiased;
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center; 
  height: 70px;
  width: 80px; 
  border-top: none; 
  /* color: white;  */
  /* opacity: .2 */
}

.next:hover {
  background-color: gray; 
  color: white; 
  /* opacity: .20; */
}

.intro {
  padding-top: 2em;
  padding-bottom: .5em; 
}


a {
  color: #0d8ba1;
  transition: all 0.25s ease-out;
  text-decoration: none;
}

a:hover, a:focus {
  color: #0599c2;
  text-decoration: underline;
}

h4 {
  font-family: 'Julius Sans One', 'Sans Serif';
  margin: 1.6em 0 0 0; 
  font-size: 1.25em; 
  font-weight: normal; 
}

p {
  font-family: 'Libre Baskerville', 'Sans Serif';
  color:#325050;
  font-size: 82%;
  margin: .75em 0; 
  line-height: 2; 
}

.content {
  width: 80%; 
  margin: 0 auto; 
}

.boxB {
  background-image: url("http://www.csszengarden.com/214/bamboo.png"); 
  padding: 1em 0; 
  margin-top: 3em;
  background-attachment: scroll, scroll, fixed;
  background-color: rgba(138,188,159,0.5);
  background-image: url("http://www.csszengarden.com/214/contours-opaque.png"), url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/bamboo.png");
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
  padding-bottom: 1.5em; 
}

.dave {
  background-image: url("http://www.csszengarden.com/214/contours.png"), url("http://www.csszengarden.com/214/noise.png"), url("http://www.csszengarden.com/214/gridlines.png"), url("http://www.csszengarden.com/214/huntington.jpg");
  padding: 1em;
  background-attachment: fixed, fixed, fixed, scroll;
  background-position: 0 0, 0 0, -5px -25px;
  background-repeat: repeat, repeat, repeat, no-repeat;
  background-size: auto, auto, auto, cover;
  text-align: center; 
  width: 100%; 
  margin: 0 auto; 
  color: white; 
  font-size: 1.4em; 
  line-height: 2; 
  filter: brightness(90%);
  opacity: .8; 
}

.icons {
  background-color: #134347;
  font-family: "Verdemoderna";
  color: white; 
  font-size: 35px; 
  padding: 1em 10%; 
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  padding-left: 100px; 
  padding-right: 100px;  
}


.five {
  padding-left: 5px; 
  padding-right: 5px; 
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-content: stretch;
  opacity: .6; 
}


.three {
  padding-left: 5px; 
  padding-right: 5px; 
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-content: stretch;
  opacity: .6; 
}

.ccc {
  padding-left: 5px; 
  padding-right: 5px; 
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-content: stretch;
  opacity: .6;
}

.aaa {
  padding-left: 5px; 
  padding-right: 5px;
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-content: stretch;
  opacity: .6;  
}

.ggg {
  padding-left: 5px; 
  padding-right: 5px;
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-content: stretch;
  opacity: .6; 
}

/* .icons{
  display: flex;
  justify-content: space-between;
  font-size: 50px;
  padding: 50px; 
  padding-left: 200px; 
  padding-right: 200px; 
  
}
.icon {
display: flex;
justify-content: space-between;
} */

.design-name {
  font-family: 'Julius Sans One', 'Sans Serif';
  font-style: normal;
  color: #1a5952;
  cursor: pointer;
  font-size: 1em;
}

.designer-name {
  font-family: 'Libre Baskerville', 'Sans Serif';
  font-style: normal;
  color: #1a5952; 
  font-size: .7em; 
  cursor: pointer;
}

.white {
  position: relative; 
  color: white; 
  z-index: 1000
}

.white:hover {
  text-decoration: underline;
  color: white; 
}

ul {
 display: grid; 
 grid-template-columns: 1fr 1fr;
 background-color: #ecf4f0; 
 list-style-type: none;
padding: 0; 
}

li {
  font-style: italic;
  padding: 20px; 
  border-top: solid 1px #d9e3dc;
  text-decoration: none;
  padding-top: 15px;
  padding-right: 20px; 
}

.ref {
  background-color: #ecf4f0;
}

.ref:hover {
  background-color: white;
}

.interlinks {
  font-family: 'Julius Sans One', 'Sans Serif';
  font-style: normal;
  border-top: solid 1px #a0b9ad;
  padding: 30px; 
  padding-top: 15px;
  padding-right: 15px; 
}

.footerLinks {
  background-image: url("http://www.csszengarden.com/214/bamboo.png"); 
  background-attachment: scroll, scroll, fixed;
  background-color: rgba(138,188,159,0.5);
  background-image: url("http://www.csszengarden.com/214/contours-opaque.png"), url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/bamboo.png");
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
  color: #1a5952; 
  font-size: 1em; 
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none; 
}

@media only screen and (min-width: 500px) {
  .headings::before{
    display: none;
  } 
  h1 {
    font-size: 40px; 
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px; 
  }
  h2 {
    vertical-align: top;
    padding-left: 110px;
  }
  .headingstuff{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-content: center; 
  }
  img {
    display: inline-block;
    width: 80px; 
    height: 80px; 
    text-align: bottom;
  }
  .cssSpace {
    margin: 40px; 
  }
  .dave {
    padding: 55px; 
  }
  .ref {
    padding-left: 100px; 
  }
  .interlinks{
    padding-left: 100px; 
  }
  .icons{
    display: flex;
    justify-content: space-between;
    font-size: 45px;
    padding: 50px; 
    padding-left: 200px; 
    padding-right: 200px;     
}
  .icon {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1042px) {
  img {
    height: 140px;
    width: 140px; 
  }

  h1{
    font-size: 50px; 
  }

  h2 {
    font-size: 25px; 
  }

  .siteWrapper {
    display: flex; 
    flex-wrap: wrap; 
    width: 100%;
  }

  .boxA{
    width: 66.6%;
    order: 1;
    /* height: 800px;  */
  }

  .boxB{
      width: 66.6%;
      order: 3;
      margin-top: 0;
  }

  .boxC{
    width: 66.6%;
    order: 5;
  }

  footer{
      width: 100%;
      order: 7;
      padding: 3em, 10%;
  }

  .icons{
      display: flex;
      justify-content: space-between;
      font-size: 55px;
      padding: 50px; 
      padding-left: 200px; 
      padding-right: 200px;    
  }

  .icon {
    display: flex;
    justify-content: space-between;
  }

  .references{
      width: 33.3%;
      order: 2;
      justify-content: space-between;
  }

  .otherRefs{
      width: 33.3%;
      order: 4;
  }

  ul {
    display: flex; 
    flex-direction: column;
  }

  /* li{
    display: flex;
    flex-direction: row;
  } */

  .design-name {
    font-size: 20px; 
  }

  .designer-name {
    display: inline-block;
    font-size: 15px; 
  }

  .ref {
    display: inline-block;
    padding-left: 50px; 
    padding: 50px;
  }

  .dave{
    font-size: 30px; 
    letter-spacing: 1px; 
    padding: 100px; 
    padding-top: 80px; 
    padding-bottom: 80px; 
  }

  p{
    font-size: 16px; 
  }

  h4 {
    font-size: 30px; 
  }

  .hidden {
    display: flex;
    flex-direction: row; 
    font-size: 20px;
  }

  .font1 {
    font-family: 'Libre Baskerville', 'Sans Serif';
    font-size: 17px;
    color: black; 
  }

  .font2{
    font-family: 'Julius Sans One', 'Sans Serif';
  }

  .interlinks {
    padding: 70px; 
    padding-left: 50px; 
    font-size: 20px; 
  }

  .headingstuff {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    padding-right: 30px; 
    /* width: 66.66%; */
  }

  .view-all {
    display: flex;
    margin-left: 120px; 
    /* float: right;  */
    order: 2; 
    width: 33.3%;
  }
}
