* {
    box-sizing: border-box;
    margin: 0;
}


nav {
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: hotpink;
    height: 60px;
    z-index: 9999;
}

li {
    display: inline-block;
    color: white;
    padding: 20px;
    width: 24%;
}

header {
    background-image: url(https://orig00.deviantart.net/41dc/f/2016/104/4/0/neko_atsume_background_with_all_34_non_rare_cats_by_dragonmurr-d9yx6r4.png);
    height: 200px;
}

h1 {
    text-align: center;
    padding: 100px;
    color: hotpink;

}

h2 {
    text-align: center;
}

.blogs {
    position: relative;
}

article {
    position: relative;
    padding: 50px;
    /* border-style: solid black 5px; */
    background-color: aquamarine;
    top: 50%;
    /* left: 50%; */
    /* transform: translate(-50%, 5%); */
    width: 75%;
    margin: 0 auto;
    /* transform: translateY(50%) translateX(-50%) */
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

h3 {
    font-style: italic;
    font-size: 16px;
    text-align: center;
    
}

img {
    max-width: 100%;
    height: auto;
    float: left;
    margin: 20px;
}

p {
    margin: 20px;
}